
@{
    ViewBag.Title = "Services";
}

<script>
    document.getElementById("servicesGR").style.fontWeight = 'bold';
    document.getElementById("servicesGR").style.color = 'green';
    document.getElementById("servicesEN").style.fontWeight = 'bold';
    document.getElementById("servicesEN").style.color ='green';
</script>

<!--
<h2 class="en">Services</h2>
<h2 class="gr">Υπηρεσίες</h2>
-->

<h2> </h2>

<div><br /></div>

<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class=gr data-toggle="collapse" data-parent="#accordion" href="#collapse1">Ελεγκτικές υπηρεσίες </a><br />
                    <a class=en data-toggle="collapse" data-parent="#accordion" href="#collapse1">Audit Services </a><br />
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="gr">
                        <p>Η πολυετής εμπειρία του προσωπικού μας έχει σαν αποτέλεσμα τη δημιουργία μιας προηγμένης και ευέλικτης μεθοδολογίας, ικανής να προσαρμοστεί στις ιδιαιτερότητες κάθε πελάτη, εξασφαλίζοντας ποιοτικούς ελέγχους, σε εύλογο χρόνο.</p>
                        <p>Το κύριο χαρακτηριστικό της μεθοδολογίας αυτής είναι η έμφαση που δίδεται στην κατανόηση των δραστηριοτήτων των πελατών και στη μελέτη των συστημάτων εσωτερικού ελέγχου των εταιρειών τους, ώστε να είναι εφικτή η ασφαλής πιστοποίηση των Οικονομικών Καταστάσεων και η διασφάλιση των συμφερόντων των επιχειρήσεων.</p>
                        <p>Επακόλουθο της σε βάθος γνώσης των δραστηριοτήτων των πελατών, είναι η δυνατότητα παροχής κατάλληλων συμβουλών προς όφελος της αποτελεσματικότερης λειτουργίας των εταιρειών μέσω των ευρημάτων του ελέγχου. </p>
                         <b>Υποχρεωτικοί έλεγχοι</b>
                        <p>Οι έλεγχοι αυτοί απορρέουν από τις διατάξεις της κείμενης νομοθεσίας και εξαρτώνται από τη νομική μορφή και το μέγεθος της εταιρείας.</p>
                        <b>Προαιρετικοί έλεγχοι</b>
                        <p>Οι προαιρετικοί έλεγχοι απορρέουν από την υποχρέωση της εταιρείας να δώσει αξιόπιστες πληροφορίες για τα οικονομικά μεγέθη της σε τρίτους.</p>
                        <u>Ενδεικτικά οι έλεγχοι που διενεργούμε είναι οι εξής:</u><br />
                         &bull; Έλεγχοι Οικονομικών Καταστάσεων που έχουν συνταχθεί βάσει των Ε.Λ.Π. ή/και Δ.Π.X.A. <br />
                         &bull; Έλεγχοι Ενοποιημένων Οικονομικών Καταστάσεων που έχουν συνταχθεί βάσει των Ε.Λ.Π., Δ.Π.X.A.<br />
                         &bull; Τακτικοί ή ειδικοί φορολογικοί έλεγχοι<br />
                         &bull; Ειδικοί Οικονομικοί Έλεγχοι (Due Diligence Engagements)<br />
                         &bull; Έλεγχοι προσυμφωνημένων διαδικασιών (Agreed Upon Procedures Engagements)<br />
                    </div>
                    <div class="en">
                        <p>We offer our clients a cohesive bespoke service instead of a standard and ready-made package of services. This is accomplished by drawing on the expertise of our staff, whose experience gives us the opportunity to create an advanced and flexible methodology that will each time meet the unique needs of our clients.</p>
                        <p>The key element of our methodology is the attention given to understanding our clients and their business by studying not only the markets in which they operate but also the internal structure of the organisation and the controls implemented in order to ensure that the Financial information is accurate.</p>
                        <p>Consequently, we are able to provide our clients with helpful advice in terms of effectiveness and efficiency of their organisations and their potential issues and development opportunities. </p>
                        <b>Statutory audit engagements</b>
                        <p>Audit engagements that are required based on regulations and depend on the legal form and size of the client firms.</p>
                         <b>Non-statutory audit engagements</b>
                        <p>Audit engagements that are not legally required, but are requested as a result of a company’s need to provide accurate financial information to third parties.</p>
                        <u>Some of the audit services rendered:</u><br />
                          &bull; Statutory audit of Single and/or Group Financial statements prepared based on Greek Accounting Standards or International Financial Reporting Standards (IFRS)<br />
                          &bull; Non – statutory audit of single and/or Group Financial statements<br />
                          &bull; Statutory Tax Audit Engagements as required by local regulations<br />
                          &bull; Due Diligence Engagements<br />
                          &bull; Agreed Upon Procedures Engagements<br />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class=gr data-toggle="collapse" data-parent="#accordion" href="#collapse2">Συμβουλευτικές Υπηρεσίες</a><br />
                    <a class=en data-toggle="collapse" data-parent="#accordion" href="#collapse2">Consulting Services</a><br />
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="gr">
                        <p>Η εταιρεία μας παρέχει υπηρεσίες συμβούλων επιχειρήσεων υψηλής ποιότητας σε επιχειρήσεις του ιδιωτικού τομέα όλων των νομικών μορφών και σε Δημόσιες Επιχειρήσεις και Υπηρεσίες.</p>
                        <p>Δεν προσφέρουμε τυποποιημένες λύσεις. Κάθε εργασία είναι αποκλειστική, ενώ δίδεται μεγάλη έμφαση στην παροχή πρακτικών και υλοποιήσιμων προτάσεων.</p>
                        <p>Σεβόμαστε τους κανόνες ανεξαρτησίας και εργαζόμαστε με απόλυτη αντικειμενικότητα γιατί θεωρούμε ότι είναι απαραίτητη προϋπόθεση για τη διατήρηση της καλής μας φήμης και της εμπιστοσύνης που απολαμβάνουμε από τους πελάτες μας.</p>
                        Οι υπηρεσίες μας περιλαμβάνουν:<br />
                         <b>Μελέτες σκοπιμότητας</b>
                        <p>Η εταιρεία μας αναλαμβάνει την σύνταξη μελετών βιωσιμότητας επενδύσεων καθώς και μελέτες σκοπιμότητας για ένταξη σε αναπτυξιακούς νόμους.</p>

                         <b>Αποτιμήσεις εταιρειών</b>
                        <p>
                            Οι αποτιμήσεις εταιρειών χρειάζονται σε διάφορες περιπτώσεις όπως για σκοπούς στρατηγικών αποφάσεων, σε συζητήσεις και διαπραγματεύσεις αγοραπωλησίας επιχειρήσεων, για λόγους που επιβάλλονται από την κείμενη νομοθεσία κλπ.
                            Η εταιρεία μας παρέχει την υπηρεσία αυτή χρησιμοποιώντας τις πλέον κατάλληλες και πρόσφατες επιστημονικές μεθόδους με γνώμονα τις ιδιαιτερότητες του οικονομικού περιβάλλοντος της κάθε εταιρείας με στόχο την παροχή πρακτικών συμβουλών.
                        </p>

                         <b>Εξαγορές και συγχωνεύσεις εταιρειών</b>
                        <p>Παρέχονται συμβουλές σε θέματα συγχωνεύσεων και εξαγορών και σε συνεργασία με εξωτερικό συνεργάτη, εντοπίζονται οι κατάλληλοι υποψήφιοι για αυτού του είδους τις συναλλαγές.</p>

                         <b>Διαχειριστικοί έλεγχοι</b>
                        <p>Αναλαμβάνουμε την διενέργεια ειδικών διαχειριστικών ελέγχων, με σκοπό τον εντοπισμό περιπτώσεων οικονομικών ανωμαλιών.</p>

                         <b>Εξαγορές και συγχωνεύσεις εταιρειών</b>
                        <p>Παρέχονται συμβουλές σε θέματα συγχωνεύσεων και εξαγορών και σε συνεργασία με εξωτερικό συνεργάτη, εντοπίζονται οι κατάλληλοι υποψήφιοι για αυτού του είδους τις συναλλαγές.</p>

                         <b>Διαχειριστικοί έλεγχοι</b>
                        <p>Αναλαμβάνουμε την διενέργεια ειδικών διαχειριστικών ελέγχων, με σκοπό τον εντοπισμό περιπτώσεων οικονομικών ανωμαλιών.</p>

                         <b>Έναρξη Επιχειρηματικής Δραστηριότητας</b>
                        <p>Η εταιρεία μας παρέχει υπηρεσίες σχετικά με την έναρξη νέας επιχειρηματικής δραστηριότητας και συγκεκριμένα:</p>
                          &bull; Συμβουλές σχετικές με την κατάλληλη νομική μορφή της υπό ίδρυση επιχείρησης, λαμβάνοντας υπ’ όψη τις συγκεκριμένες ανάγκες και τις σχετικές φορολογικές και άλλες κείμενες διατάξεις, τόσο σε εθνικό όσο και σε διεθνές επίπεδο.<br />
                          &bull; Ίδρυση της επιχείρησης μέσω των συνεργατών μας, νομικών και άλλων συμβούλων.<br />
                          &bull; Λογιστική οργάνωση των επιχειρήσεων.<br />
                          &bull; Συμβουλές σχετικές με τα επενδυτικά κίνητρα που ισχύουν στην Ελλάδα και προετοιμασία των σχετικών αιτήσεων προς τις αρμόδιες αρχές.<br />
                    </div>

                    <div class="en">
                        <p>Our firm provides high quality consulting services to private companies of all legal forms as well as to Public or Government Companies.</p>
                        <p>Every project is treated with a unique and exclusive perspective. We make our best effort to provide practical and achievable solutions while protecting our clients’ best interest.  </p>
                        <p>We adhere to the highest international standards of independence and objectivity since we consider this a prerequisite for maintaining our good reputation and the trust we enjoy in the market.</p>
                        Our consulting services include:<br />
                         <b>Sustainability reports</b>
                        <p>Our firm studies the sustainability of our clients’ investments and provides sustainability and feasibility assessment reports required in order to be able to take advantage of developmental laws. </p>

                         <b>Business valuations</b>
                        <p>Companies seek valuation advice in a variety of situations to assist with strategic decisions, in support of M&A (Mergers and Acquisitions) negotiations, corporate governance or regulatory reasons, etc. </p>
                        <p>We are able to assist our clients by employing the valuation techniques most appropriate to the specific situation, with our work differentiated by our understanding of the economics of the underlying business to offer value added advice.</p>

                         <b>Mergers and Acquisitions</b>
                        <p>Mergers and Acquisitions are always accompanied by high expectations. We offer our clients a disciplined approach and bring our expertise to help them bring value to the asset that they are buying, while making their existing businesses more valuable. We help them build their Mergers and Acquisitions programs as a vector of growth. We will work with them to decide where to invest, how to take advantage of current market conditions and how to manage the executions of the deals they pursue.</p>

                         <b>Administrative and management audits</b>
                        <p>Our services include administrative and management audit procedures in order to identify management override of controls and any other issues.</p>

                         <b>Incorporation of business organisations</b>
                        <p>We offer services related to the incorporation of companies. Specifically we:</p>
                          &bull; Can assist clients in defining the appropriate legal form for the company taking into consideration the specific business plan, as well as tax regulation and other local or international legislation. <br />
                          &bull; Incorporation of the company.<br />
                          &bull; Organisation of the company’s accounting department.<br />
                          &bull; Provide advice related to investment motivations for doing business in Greece and prepare the relevant applications required by local authorities.<br />

                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class=gr data-toggle="collapse" data-parent="#accordion" href="#collapse3">Φορολογικές Υπηρεσίες</a><br />
                    <a class=en data-toggle="collapse" data-parent="#accordion" href="#collapse3">Tax consulting Services</a><br />
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="gr">
                       <p>Το έμπειρο και άρτια καταρτισμένο προσωπικό μας, παρέχει εξειδικευμένες συμβουλές σε φορολογικά, οργανωτικά, λογιστικά και ειδικά θέματα των επιχειρήσεων. Επιπλέον, είμαστε σε θέση να παρέχουμε συμβουλές σε διεθνή φορολογικά και άλλα ειδικά θέματα.</p>
                        <b>Φορολογικός σχεδιασμός</b>
                        <p>Αναλαμβάνουμε την πραγματοποίηση φοροδιαγνωστικών ελέγχων, που αποσκοπούν στον προσδιορισμό τυχόν φορολογικών προβλημάτων, ώστε να ληφθούν τα κατάλληλα μέτρα για την αντιμετώπισή τους.</p>
                        
                        <b>Ενδοομιλικές συναλλαγές</b>
                        <p>Σε ένα διαρκώς αναπτυσσόμενο περιβάλλον με επιχειρήσεις να επενδύουν εκτός Ελλάδος και το αυστηρό νομοθετικό πλαίσιο, η ανάγκη για παρακολούθηση και σωστό χειρισμό των ενδοομιλικών συναλλαγών (Transfer Pricing) είναι επιτακτική. Το εξειδικευμένο προσωπικό μας μπορεί να βοηθήσει μια επιχείρηση να τηρήσει τους αντίστοιχους κανονισμούς.</p>
                    </div>

                    <div class="en">
                        <p>Our team can provide guidance to multinational and local groups of companies in developing their tax strategies that can maximise tax planning benefits and meet compliance requirements of local tax legislation. </p>
                        <b>Tax planning</b>
                        <p>Drawing from our experience we can provide tax planning and tax structuring audits in order to assess our clients’ issues and find appropriate solutions and preventive measures. This can assist clients to meet their tax planning objectives and achieve cost efficiencies in line with each company’s risk profile.</p>
                        <p>Our goal is to deliver comprehensive, practical solutions in tax planning that help multinational and local businesses meet their worldwide and statutory tax responsibilities.</p>

                        <b>Transfer pricing</b>
                        <p>Multinational organisations are operating in an environment of unprecedented complexity. The rising volume and variety of intercompany transactions and transfer pricing regulations, accompanied by increased enforcement activities worldwide have made transfer pricing a leading risk management issue.</p>     
                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class=gr data-toggle="collapse" data-parent="#accordion" href="#collapse4">Λογιστικές Υπηρεσίες</a><br />
                    <a class=en data-toggle="collapse" data-parent="#accordion" href="#collapse4">Accounting services</a><br />
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="gr">
                    <p>Παρέχουμε υπηρεσίες οργάνωσης και εποπτείας Λογιστηρίων με σκοπό την ομαλή λειτουργία τους και την εξασφάλιση προϋποθέσεων ελαχιστοποίησης των λογιστικών διαφορών που προκύπτουν από φορολογικούς ελέγχους καθώς και την παροχή ενημερωμένων λογιστικών στοιχείων στους πελάτες.</p>
                    Οι υπηρεσίες μας περιλαμβάνουν:
                         &bull; Τήρηση λογιστικών βιβλίων σε μηχανογραφικές εφαρμογές.<br />
                         &bull; Μισθοδοσία και εργατικά.<br />
                         &bull; Σύνταξη και υποβολή ετήσιων φορολογικών δηλώσεων.<br />
                         &bull; Παρακολούθηση ΓΕΜΗ (Γενικό Εμπορικό Μητρώο).<br />
                         &bull; Προϋπολογισμοί και παρακολούθηση αποκλίσεων.<br />
                         &bull; Εποπτεία λογιστηρίου.<br />
                         &bull; Σύνταξη οικονομικών καταστάσεων με Ελληνικά Λογιστικά Πρότυπα (ΕΛΠ) και Διεθνή Πρότυπα Χρηματοοικονομικής Αναφοράς (ΔΠΧΑ).<br />
                         &bull; Σύνταξη ενοποιημένων οικονομικών καταστάσεων.<br />
                    </div>

                    <div class="en">
                        <p>We undertake the accounting function ensuring that proper accounting records are maintained and regular and up-to-date reporting is available to the client. </p>
                        These services include:
                         &bull; Maintenance of computerised accounting records<br />
                         &bull; Preparation of payroll and submission of related tax obligations<br />
                         &bull; Preparation and submission of annual tax returns<br />
                         &bull; Maintenance of regulatory requirements of the Business Portal (GEMI)<br />
                         &bull; Preparation of budgets and reports monitoring actual performance against budget<br />
                         &bull; Supervision of accounting departments<br />
                         &bull; Preparation of Financial Statements with local Accounting Standards or International Financial Reporting Standards (IFRS)<br />
                         &bull; Preparation of Group reporting and Group Financial Statements with local Accounting Standards or International Financial Reporting Standards<br />

    
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class=gr data-toggle="collapse" data-parent="#accordion" href="#collapse5">Υπηρεσίες εσωτερικού ελέγχου</a><br />
                    <a class=en data-toggle="collapse" data-parent="#accordion" href="#collapse5">Internal audit services</a><br />
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="gr">
                        <p>Εξειδικευμένα και έμπειρα στελέχη της εταιρείας μας, που διαθέτουν την απαραίτητη τεχνογνωσία, αλλά και τις αντίστοιχες επαγγελματικές πιστοποιήσεις, παρέχουν μεγάλου εύρους και υψηλής ποιότητας συμβουλευτικές και ελεγκτικές υπηρεσίες, και αναλαμβάνουν:</p>
                         &bull; τη διενέργεια ανεξάρτητου ποιοτικού ελέγχου, του τρόπου λειτουργίας του Εσωτερικού Ελέγχου των εταιρειών και διαπίστωση του επιπέδου συμμόρφωσής τους με το ισχύον νομικό και θεσμικό πλαίσιο,<br />
                         &bull; τη δημιουργία ή την αναδιοργάνωση Τμημάτων Εσωτερικού Ελέγχου, σύμφωνα με τις ισχύουσες νομικές και θεσμικές απαιτήσεις, αλλά και τα Διεθνή Πρότυπα Εσωτερικού Ελέγχου,<br />
                         &bull; τη σύνταξη εγχειριδίων επιχειρηματικών διαδικασιών προκειμένου να διασφαλιστεί η εφαρμογή των προκαθορισμένων στόχων και οδηγιών των Διοικήσεων των επιχειρήσεων, <br />
                         &bull; τη συμμετοχή έμπειρων στελεχών μας στις ελεγκτικές ομάδες των εταιρειών και υποστήριξη στο σχεδιασμό και στην εκτέλεση του Εσωτερικού Ελέγχου καθώς και στη σύνταξη των Εκθέσεων Ελέγχου,<br />
                         &bull; την εκτίμηση και αξιολόγηση των επιχειρηματικών κινδύνων που διέπουν τις λειτουργίες των επιχειρήσεων, αλλά και τη σύνταξη προγραμμάτων ελέγχου στα οποία θα αποτυπώνεται η ελεγκτική προσέγγιση που θα πρέπει να ακολουθήσουν οι υπηρεσίες προκειμένου να διενεργήσουν αποδοτικό έλεγχο,<br />
                         &bull; την επισκόπηση του υφιστάμενου «Εσωτερικού Κανονισμού Λειτουργίας» ή την εξ’ ολοκλήρου συγγραφή του για λογαριασμό των εταιρειών, στα πλαίσια της υποχρέωσης συμμόρφωσής τους με το ισχύον νομικό και θεσμικό πλαίσιο.<br />
                    </div>

                    <div class="en">
                        <p>The need for a focused approach to internal audit and risk management has never been as great as it is today. Risks left un-managed in an organisation can ultimately result in its demise. Specialised members of our firm, with the appropriate expertise and professional certifications, provide high quality internal audit services. </p>
                         &bull; We undertake the outsourcing of our clients’ internal audit function. Our team will visit your premises to conduct the internal audit and report to the management and the Board of Directors its findings and its recommendations in order to improve the effectiveness and efficiency of their organisation.<br />
                         &bull; We assist our clients in designing and formalising its business processes in order to ensure that adequate controls are put in place, that mitigate potential risks.<br />
                         &bull; We review our client’s current processes and procedures, analyse them and give constructive recommendations to make them more effective and efficient.<br />                    
                         &bull; We assist the management in setting up a risk management function or undertake the outsourcing of risk management function of the organisation. This includes the identification and measurement of risks of the company and recommendations how to mitigate them.<br />
                         &bull; We evaluate the existing internal audit function and provide recommendations to make it more effective.  <br />
                    </div>
                </div>
            </div>
        </div>

        <!-- -->
    </div>
</div>

<script>
    var test = 1;
    $(document).ready(function () {
        var tab = '@ViewBag.Tab';
        if (tab == 'AuditServices') {
            var d = document.getElementById("collapse1");
            d.className += " in";
        }
        else if (tab == 'ConsultingServices') {
            var d = document.getElementById("collapse2");
            d.className += " in";
        }
        else if (tab == 'TaxationServices') {
            var d = document.getElementById("collapse3");
            d.className += " in";
        }
        else if (tab == 'AccountingServices') {
            var d = document.getElementById("collapse4");
            d.className += " in";
        }
        else if (tab == 'InternalServices') {
            var d = document.getElementById("collapse5");
            d.className += " in";
        }
        else {
            var d = document.getElementById("collapse1");
            d.className += " in";
        }
    }
    );
</script>




